<template>
    <template if:true={isShowSpinner}>
        <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
    </template>
    <template if:true={showPickList}>
        <lightning-combobox name="actionType" variant="none" 
            placeholder="Select ..." options={pickListValueOptions} value={fieldValue}  onchange={fieldInputValueHandler} >
        </lightning-combobox>
    </template>
    <template if:false={showPickList}> 
        <lightning-input type="text"  variant="none" value={fieldValue} onchange={fieldInputValueHandler}
        >
        </lightning-input>
    </template>
    
</template>