<template>
    <lightning-card title="Field Mapping Setting ">

        <template if:true={isShowSpinner}>
            <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
        </template>

        <div class="slds-m-around_x-small">
            <lightning-combobox name="actionType" label="Save Action Name List " value={value}
                placeholder="Select Action Name ..." options={fieldMappingStgExistRecordList} onchange={selectActionNameHandler}>
            </lightning-combobox>
        </div>
        <div class="slds-m-around_x-small">
            <lightning-input type="text" class="actNameClass" variant="none" placeholder="Enter Action Name ..." label="Action Name" value={actionName}
                onchange={actionNameInputHandler} required> </lightning-input>
        </div>
        <div class="slds-m-around_x-small">
            <lightning-combobox name="actionType" label="Action Type" value={actionType}
                placeholder="Select Action Type..." options={actionTypeOptions} onchange={selectActionTypeHandler} >
            </lightning-combobox>
        </div>
        <div class="slds-m-around_x-small">
            <lightning-combobox name="objectType" label="Record Type" value={sObjectName} data-sobjectlabel={value}
                placeholder="Select Record Type..." options={sOjectList} onchange={selectSobjectHandleAction}>
            </lightning-combobox>
        </div>
        <div class="slds-m-around_x-small">
            <!--slds-has-error -->
            <div class="slds-form-element ">
                <label class="slds-form-element__label" for="form-element-05">
                    <abbr class="slds-required" title="required">* </abbr>Set Field Values</label>
                <div class="slds-form-element__control">
                    <div class="slds-box" style="min-height:40px;">
                        <table>
                            <tr>
                                <td>Fields</td>
                                <td>
                                    <div style="margin: 0 5px;">Type </div>
                                </td>
                                <td>Value</td>
                            </tr>
                        </table>
                        <template for:each={mainFieldList} for:item="item" for:index="index">
                            <div key={item.Id}>
                                <c-field-mapping-setting-child-one
                                    row-id={item.Id}
                                    field-label={item.label} 
                                    field-type={item.type}
                                    is-req-field={item.isReqField} 
                                    field-api-name={item.value}
                                    field-value={item.fieldValue} 
                                    is-deleted={item.isDeleted}

                                    s-object-api-name={sObjectName}
                                    parent-developer-name={parentDeveloperName}

                                    onnewchildrecord={receivedNewChildRecord}
                                    onaccesskey={delExistRecordHandler} 
                                    onfilterlist={receivedFieldFilterList}>
                                </c-field-mapping-setting-child-one>

                            </div>
                        </template>
                        <template for:each={rowList} for:item="item" for:index="index">
                            <div key={item.Id}>
                                <c-field-mapping-setting-child-one
                                    row-add-flag={rowAddFlag} 
                                    row-id={item.Id}
                                    

                                    add-new-field-list={allNewFieldList}
                                    parent-developer-name={parentDeveloperName}
                                    s-object-api-name={sObjectName}

                                    onnewchildrecord={receivedNewChildRecord}
                                    onaccesskey={delNewFieldRowHandler} 
                                    onfilterlist={receivedFieldFilterList}>
                                </c-field-mapping-setting-child-one>

                            </div>
                        </template>
                        <div class="slds-m-left_x-small btn-addRow" style="margin-top: 3px;" onclick={addRow}> <span
                                class="btn-icon">+</span> Add Row</div> 
                    </div>
                </div>
                <!-- <div class="slds-form-element__help" Id="form-error-01">Enter a value.</div> -->
            </div>

        </div>
        <div class="slds-m-around_x-small">
            <lightning-button variant="brand" label="Save" title="Save" onclick={recordSaveActionHandler}
                class="slds-m-left_x-small"></lightning-button>

        </div>
    </lightning-card>
</template>