.btn-focus:focus{
    color:Red;
    box-shadow: none;
    border:none;
}
.btn-icon{
    font-size: 20px;
}
:host .btn-addRow{
    color: black;
    margin: 10px 0 0 0;
    padding: 1px;
    width: 80px;
    
  }
  
  :host(:hover) .btn-addRow {
    color: rgb(2 122 217);
    cursor: pointer;
    width: 80px;
    
  }
  .btn-icon-close{
    margin: 2px;
    padding: 2px;
    
  }

  .validatiion{
    border:2px solid red ;
  }
  .RemoveValidatiion{
    border:none ;
  }