<template>
    <template if:true={isShowSpinner}>
        <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
    </template>
    <template if:true={isReqField} >
        <table>
            
            <tr >
                <td class="slds-m-around_x-small" >
                    <lightning-input name="field " variant="none" type="text" class="slds-input-has-icon_right" value={fieldLabel}  disabled>
                    </lightning-input>
                </td>
               
               
                <td class="slds-m-around_x-small" style="margin: 0 5px;" >
                   
                    <lightning-combobox   name="actionType"  variant="none" value={fieldType} placeholder="Select Type..." options={fieldTypeOptions}   onchange={fieldTypeChangeAction} style="margin: 0 5px;"  ></lightning-combobox>
                </td>
                <td class="slds-m-around_x-small">
                    <!-- <template if:true={showPickList}>
                        <lightning-combobox name="actionType" variant="none" 
                            placeholder="Select ..." options={pickListValueOptions} value={fieldValue}  onchange={fieldInputValueHandler} >
                        </lightning-combobox>
                    </template>
                    <template if:false={showPickList}> 
                        <lightning-input type="text"  variant="none" value={fieldValue} onchange={fieldInputValueHandler}
                        >
                        </lightning-input>
                    </template> -->
                    <c-get-field-pick-list-value-child 
                                   
                                    field-type={fieldType}
                                    is-req-field={isReqField} 
                                    field-api-name={fieldApiName}
                                    field-value={fieldValue} 
                                    s-object-api-name={sObjectApiName}
                                    onsendinput={fieldInputValueHandler}                    
                    ></c-get-field-pick-list-value-child>
                </td>
                <template if:true={isDeleted}>
                    <td class="slds-m-around_x-small" style="width: 0px; position:relative;" >
                        <lightning-button-icon icon-name="utility:close" size="small" variant="bare"
                            alternative-text="close" class="slds-m-left_xx-small" access-key={rowId} 
                            style="margin: 0px; vertical-align: bottom; position:absolute; top: 21px;
                            " onclick={removeRow}></lightning-button-icon>
                    </td>
                </template>
                
            </tr>
        </table>
    </template>
    
    <template if:true={rowAddFlag} >
        <table>
            <tr >
                <td class="slds-m-around_x-small" >  
                        <div class="slds-form-element">
                            <div class="slds-form-element__control" style="margin:18px 0 0 0;">
                              <div class="slds-combobox_container" >
                                <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open" aria-expanded="true" aria-haspopup="listbox" role="combobox">
                                  <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                                    <input type="text" class="slds-input slds-combobox__input  slds-combobox__input-value"   autocomplete="off"  placeholder="Select a field…"
                                        onclick={customListOnClickHandler} onblur={handleBlur} value={dropdownSelectOptions}/>
                                     
                                    <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                                        <lightning-icon class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" onclick={customListOnClickHandler} aria-hidden="true" icon-name="utility:down" size="xx-small"></lightning-icon>
                                    </span>
                                  </div>
                                  <template if:true={showCustomDropdown}> 
                                    
                                  <div class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid" role="listbox" >
                                    
                                    <ul class="slds-listbox slds-listbox_vertical" role="presentation" onblur={dropDownCloseHandler} onmouseleave={dropDownCloseHandler} >
                                        <template for:each={addNewFieldList} for:item="item" for:index="index" if:true={showCustomDropdown}> 
                                            <li role="presentation" class="slds-listbox__item"  key={item} onclick={selectNewFieldAction}
                                            data-value={item.value} data-label={item.label} >
                                                <div aria-selected="true" aria-checked="true" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-is-selected slds-has-focus" role="option">
                                                    <span class="slds-media__figure slds-listbox__option-icon">
                                                        <span class="slds-icon_container slds-icon-utility-check ">
                                                        
                                                           <!-- <lightning-icon class="slds-icon slds-icon_x-small" aria-hidden="true" icon-name="utility:check" size="x-small"></lightning-icon>  -->
                                                         
                                                        </span>
                                                    </span>
                                                    <span class="slds-media__body">
                                                        <span class="slds-truncate" title="Accounts">{item.label}</span>
                                                    </span>
                                                </div>
                                            </li>
                                    </template>
                                    </ul>
                                    
                                
                                </div>
                                </template>
                                  
                                </div>
                              </div>
                            </div>
                          </div>
                </td>
                <td class="slds-m-around_x-small">
                   
                    <lightning-combobox   name="actionType"  variant="none" value={fieldType}  placeholder="Select Type..." options={fieldTypeOptions} onchange={fieldTypeChangeAction} style="margin: 0 5px;" ></lightning-combobox>
                </td>
                <td class="slds-m-around_x-small">
                    <template if:true={showPickList}>
                        <template if:true={isShowSpinner}>
                            <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
                        </template>
    
                        <lightning-combobox name="actionType" variant="none" value={value}
                            placeholder="Select ..." options={pickListValueOptions} onchange={fieldInputValueHandler}>
                        </lightning-combobox>
                    </template>
                    <template if:false={showPickList}>
                        <lightning-input type="text"  variant="none" value={fieldValue} onchange={fieldInputValueHandler}
                        >
                        </lightning-input>
                    </template>
                </td>
                <td class="slds-m-around_x-small" style="width: 0px; position:relative;">
                    <lightning-button-icon icon-name="utility:close" size="small" variant="bare"
                        alternative-text="close" class="slds-m-left_xx-small" access-key={rowId} 
                        style="margin: 0px; vertical-align: bottom; position:absolute; top: 21px;
                        " onclick={removeRow}></lightning-button-icon>
                </td>
            </tr>
    
        </table>
    </template> 
</template>